<h1>
  Monoscenes.
</h1>

<div class="shrine">
  <div class="backdrop panel">
    <img src="/images/worship.jpg" />
  </div>
  <div class="overlay panel">
    <img src="/images/julie.jpg" class="js-overlay"/>
  </div>
</div>

