<h1>
  Monoscenes.
</h1>

<script>window.imagesLoaded = 0</script>

<div class="shrine">
  <div class="backdrop panel">
    <img src="/images/worship.jpg" class="js-backdrop" onload="window.imagesLoaded++"/>
  </div>
  <div class="overlay panel">
    <img src="/images/julie.jpg" class="js-overlay" onload="window.imagesLoaded++"/>
  </div>
</div>

